<div class="w-100 bg-1 ph5-ns ph3 text-light">
    <nav class="db dt-l w-100 mw8 center border-box pv3">
        <a class="db dtc-l v-mid link dim w-100 w-33-l tc tl-l mb2 mb0-l white" href="<%- config.root %>" title="<%- config.title %>">
            <img src="<%- theme.logo_image_source %>" class="dib h3 v-mid" alt="<%- config.title %>">
            <% if (mainText != config.title) {%>
            <div class="dib f2 ml2 v-mid">
                <%- config.title %>
            </div>
            <% } %>
        </a>
        <div class="db dtc-l v-mid w-100 w-two-thirds-l tc tr-l">
            <% for (var i in theme.menu) { %>
            <a class="link dim f6 f5-l dib mr3 mr4-l white" href="<%- url_for(theme.menu[i]) %>" title="<%= i %>">
                <%= i %>
            </a>
            <% } %>
        </div>
    </nav>

    <!-- Title -->
    <div class="w-100 mw8 center dt mt4">
        <div class="dtc v-mid white pt6-l pb5-l pv3">
            <h1 class="f1-l f2-m tc tc-m tl-ns">
                <%- mainText %>
            </h1>
            <p class="f4 fw3 tc tc-m tl-ns">
                <%- secondaryText %>
            </p>
        </div>
    </div>

    <!-- Icon -->
    <div class="relative w-100 mw8 center white dn dn-m db-ns">
        <i class="header-icon <%- faIconCss %>"></i>
    </div>
</div>